.header a {
  color: white !important;
}

.bookdetail {
  display: flex;
  justify-content: center; /* Align items horizontally */
  align-items: center; /* Align items vertically */
  height: 100vh; /* Set height to fill the viewport */
}

.bookcard-container {
  max-width: 600px; /* Adjust the width as needed */
}

.sort {
  position: relative;
  margin-top: 70px;
  margin-bottom: 40px;
}
